.login-form{
    position: absolute;
    width: 550px;
    height: 475px;
    left: 650px;
    top: 140px;
    
    background: rgb(255, 255, 255);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}
.login-form input{
    display: flex;
    margin-top: 10px;
    margin-left: 120px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.sign-btn{
    color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    background: blue;
    border: 1px solid #C7C7C7;
    border-radius: 57px;
}
.user-ds{
    text-align: center;
    font-size: 17px;
}